@page "/settings"
@attribute [Authorize]

<p>
AuthenticationStateProvider: @UserID
</p>
<p>
HiveService: @HiveID
</p>

<MudButton OnClick="@TAOAuthentication">
    <MudIcon Icon="@Icons.Material.Filled.Add" />
    Login
</MudButton>
