<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout">
            <MudButton ButtonType="ButtonType.Submit" Class="mr-4" Variant="Variant.Text" Color="Color.Inherit">Logout</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton Class="mr-4" Variant="Variant.Text" Color="Color.Inherit" Href="Identity/Account/Register">Register</MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Inherit" Href="Identity/Account/Login">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>
